body {
  background: #12101d;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(360deg,
      #030504 0%,
      rgba(2, 4, 3, 0.30) 52%,
      rgba(11, 6, 32, 0) 100%), url("../images/AK1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 0;
  text-align: center;

}

header h1 {
  color: white;
  font-size: 96px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
  text-transform: uppercase;

}

header h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  color: white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  border-radius: 40px;
  background-color: #885DF1;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 3px;
  margin-bottom: 180px;
  margin-top: 32px;
  padding: 16px 32px;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
    background-image: 100%;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .img-responsive {
    max-width: 100%;
  }
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

main h2 {
  color: #5BD5E3;
  background-color: rgba(91, 213, 227, 0.15);
  font-size: 13px;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
  padding: 2px 6px;
  text-transform: uppercase;
  width: 189px;
  word-wrap: break-word;
}

main h3 {
  color: white;
  font-size: 48px;
  font-family: Playfair Display;
  font-weight: 700;
  margin: 0;
  word-wrap: break-word;
}

main p {
  color: #F9F4FF;
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  word-wrap: break-word;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(18, 16, 29, 0.9), rgba(18, 16, 29, 0.9)), url(../images/AK4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer h4 {
  font-family: 'Playfair Display', serif;
}

footer ul {
  padding: 0;
}

footer p,
footer li {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  opacity: 0.7;
  padding: 0;
  word-wrap: break-word;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

/*font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto',
sans-serif;